#mainSearchComponent {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#searchArea {
    color: #343F3E;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#searchInput {
    border-radius: 0.5em;
    border: solid 0.15rem #808080;
    color: #343F3E;
    font-size: large;
    outline: none;
    padding-left: 10px;
    width: 75%;
}

#inputInformation {
    color: red;
    font-size: smaller;
}

a {
    text-decoration: none;
    color: #343F3E;
}